In [1]:
# !pip install pymysql

In [2]:
import pymysql

Wait, until server be ready

#### Connect server

In [3]:
connector = pymysql.connect(
    host = 'localhost',
    user = 'root',
    passwd = 'root'
)
cursor = connector.cursor()

#### Create database

In [4]:
cursor.execute("CREATE DATABASE ml")
cursor.close()
connector.close()

#### Connect database

In [24]:
connector = pymysql.connect(
    host = 'localhost',
    user = 'root',
    passwd = 'root',
    database = 'ml',
    autocommit = True
)
cursor = connector.cursor()

#### Create table

In [6]:
query = "CREATE TABLE IF NOT EXISTS test"
query += "(id INTEGER, name VARCHAR(20), age INTEGER)"
cursor.execute(query)

0

#### Add records to table

In [18]:
cursor.execute("INSERT INTO test VALUES (1, 'Taro', 20)")
cursor.execute("INSERT INTO test VALUES (2, 'Hanako', 30)")

1

#### Read table

In [25]:
cursor.execute("SELECT * FROM test")
for row in cursor:
    print(row)

(1, 'Taro', 20)
(2, 'Hanako', 30)